
@font-face {
  font-family: 'Segoe UI Regular';
/*   font-style: normal;
  font-weight: normal; */
  src: local('Segoe UI Regular'), url('./fonts/Segoe\ UI.woff') format('woff');
}

body {
  margin: 0;
  font-family:  "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  'Segoe UI Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
